* {
    margin: 0;
    padding: 0;
    font-family: 'PingFangSC', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif' !important;
}

body{
    background: #fff;
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #333;
}

img {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

div, ul, p, li {
    box-sizing: border-box;
}
:focus {
    outline: none;
}
input,textarea{
    border: 0;
    outline: none;
    background-color:transparent;  
    FILTER: alpha(opacity=0); /*androd*/ 
    /* appearance:none;  下拉框去掉右侧图标  */
    -moz-appearance:none;  
    -webkit-appearance:none;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

li {
    list-style-type: none;
}

div, ul, p, li {
    box-sizing: border-box;
}

html{
    font-size: 32px;
}

 @media screen and (min-width: 320px) and (max-width: 341px) {
    html{
        font-size: 32px;
    }
  }
  @media screen and (min-width: 341px) and (max-width: 361px) {
    html{
        font-size: 35px;
    }
  }
  @media screen and (min-width: 361px) and (max-width: 376px) {
    html{
        font-size: 37.5px;
    }
  }
  @media screen and (min-width: 376px) and (max-width: 385px) {
    html{
        font-size: 38.5px;
    }
  }
  @media screen and (min-width: 385px) and (max-width: 412px){
    html{
        font-size: 40px;
    }
  }
  @media screen and (min-width: 412px) and (max-width: 415px) {
    html{
        font-size: 41px;
    }
  }
  @media screen and (min-width: 415px){
    html{
        font-size: 42px;
    }
  }
  @media screen and (min-width: 767px){
    html{
        font-size: 60px;
    }
  }