.body-error .error-title{
    padding: 0 1rem;
}
.body-error .error-title .title{
    font-size: 0.5rem;
}
.body-error .error-title .sub-title{
    font-size: 0.4rem;
    margin: 0.4rem 0 0.9rem 0;
}
.body-result .img-wrap{
    padding: 0.8rem 2.4rem;
}